@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/dmsans-bold.woff2') format('woff2'), url('./fonts/dmsans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-bold.woff2') format('woff2'), url('./fonts/lato-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-medium.woff2') format('woff2'), url('./fonts/lato-medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('./fonts/mulish-regular.woff2') format('woff2'), url('./fonts/mulish-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}