.price-card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 30px;
    flex: 0 0 31%;
    max-width: 31%;

    &__title {
        font-size: 26px;
        font-weight: 700;

        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid #FDB831;
        }

        &-hit {
            background-color: rgb(247, 31, 92);
            color: #ffffff;
            font-weight: 700;
            padding: 10px 30px;
            border-radius: 20px;
        }
    }

    &__list {
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #FDB831;

        &-item {
            font-size: 16px;
            padding: 15px 0;
            line-height: 24px;

            &.disabled {
                color: rgba(191,220,225,1);
                text-decoration: line-through;
            }
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    &__price-current {
        font-size: 28px;
        font-weight: 700;
        margin-right: 40px;
    }

    &__price-before {
        font-size: 20px;
        font-weight: 500;
        text-decoration: line-through;
        color: rgb(247, 31, 92);
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(38,42,46,1);
        color: #ffffff;
        border-radius: 20px;
        padding: 15px 0;
        font-size: 20px;
        margin-bottom: 10px;
        transition: all 0.3s;

        &:hover {
            background-color: #FDB831;
            color: #ffffff;
        }
    }
}