.swiper {
    padding-bottom: 30px;
    @include media-breakpoint-up(md) { 
        padding-bottom: 70px;
    }

    &-button {
        &-prev {
            opacity: 0;
            transition: all 0.5s;

            &.swiper-button-disabled {
                opacity: 0;
                transition: all 0.5s;
                &.hover {
                    opacity: 0.35;
                }
            }

            &.hover {
                opacity: 1;
            }
            &::after {
                color: $main-color;
            }
        }

        &-next {
            opacity: 0;
            transition: all 0.5s;

            &.swiper-button-disabled {
                opacity: 0;
                transition: all 0.5s;
                &.hover {
                    opacity: 0.35;
                }
            }

            &.hover {
                opacity: 1;
            }
            &::after {
                color: $main-color;
            }
        }
    }

    &-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #808080;
        @include media-breakpoint-up(md) { 
            width: 14px;
            height: 14px;
        }

        &-active {
            background-color: $main-color;
        }
    }
}